#include "AboutFrmStr.h"

STRINGTABLE
BEGIN
IDS_ABOUT_CAPTION,      "О программе"
IDS_ABOUT_DEBUG,        " (debug)"
IDS_ABOUT_RC,           " (RC)"
IDS_ABOUT_MEMORY,       "Физическая память:"
IDS_ABOUT_PROCESSOR,    "Процессор:"

IDS_ABOUT_EULA_1_1,     "• Распространяется свободно (FREEWARE)."
IDS_ABOUT_EULA_1_2,     "• ЗАПРЕЩЕНО использование программы в коммерческих целях без согласования с автором."
IDS_ABOUT_EULA_2,       "• ЗАПРЕЩЕНО распространение программы в коммерческих целях без согласования с автором.";
IDS_ABOUT_EULA_3,       "• ЗАПРЕЩЕНО любое изменение, адаптирование, перевод, дизассемблирование данной программы.";
IDS_ABOUT_EULA_4,       "• Поставляется «КАК ЕСТЬ», то есть автор не даёт никаких гарантий работоспособности программы, а также не несёт никакой ответственности за любой прямой, косвенный или иной ущерб, понесённый в результате её использования.\nВы используете это программное обеспечение на свой риск.";

IDS_ABOUT_LICENSES,     "Othr_Lic.htm"
END
