#include "AboutFrmStr.h"

STRINGTABLE
BEGIN
IDS_ABOUT_CAPTION,      "О программе..."
IDS_ABOUT_DEBUG,        " (debug)"
IDS_ABOUT_RC,           " (RC)"
IDS_ABOUT_MEMORY,       "Физическая память:"
IDS_ABOUT_PROCESSOR,    "Процессор:"

IDS_ABOUT_EULA1,        "• Распространяется свободно (FREEWARE)."
IDS_ABOUT_EULA2,        "• Поставляется \"КАК ЕСТЬ\", то есть автор не дает никаких гарантий работоспособности программы, а также не несет никакой ответственности за любой прямой, косвенный или иной ущерб, понесенный в результате ее использования.\nВы используете это программное обеспечение на свой риск.";
IDS_ABOUT_EULA3,        "• ЗАПРЕЩЕНО любое изменение, адаптирование, перевод, дизассемблирование данной программы.";
IDS_ABOUT_EULA4,        "• ЗАПРЕЩЕНО распространение программы в коммерческих целях без согласования с автором.";

IDS_ABOUT_LICENSES,     "Othr_Lic.htm"
END
